@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@500&display=swap');

/* Eric Meyer's Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* My styling */
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: #1e1e1e;
}

html {
    font-size: 62.5%;
}

/* Colors:
light green #6BAB90
wintergreen #55917F
wegne #5E4C5A
light wegne #7d6d79
pale pink #e6e1e4
dark grey #2e2e2e
grey green: #6d7d7b
*/

/* Animations */

@keyframes navItem {
    from {background-color: white;}
    from {color: #2e2e2e}
    to {background-color: #5E4C5A;}
    to {color: white;}
}

/* Page shadows */

.top img, .project {
    box-shadow: 0px 0px 10px #7d6d79;
}

header, footer {
    box-shadow: 0px 0px 30px #5E4C5A;
}

/* General Styling */

/* html {
    font-size: 62.5%;
} */

h1 {
    font-size: 5rem;
    margin: 2vh 0;
    color: #e6e1e4;
}

h2 {
    font-size: 3.5rem;
    margin: 1.5vh 0;
}

h3 {
    font-size: 2.5rem;
    margin: 1.3vh 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

p, a, button {
    font-family: 'Raleway', sans-serif;
}

p {
    margin: 1.5vh 0;
    font-size: 2rem;
}

button {
    background: white;
    border: 1px solid #2e2e2e;
    font-size: 2rem;
    border-radius: 5px;
}

button:hover {
    background: #6BAB90;
    color: white;
    border: 1px solid white;
}

img {
    border-radius: 5px;
}

/* Header */

header {
    background-color: #6d7d7b;
    padding: 1%;
    color: white;
}

.headerContent {
    margin: 2% 5%;
}

nav ul {
    display: flex;
    justify-content: flex-start;
}

nav ul li a {
    border-radius: 5px;
    text-align: center;
    display: block;
    padding: 10px;
    background: white;
    margin: 0 2%;
    color: #2e2e2e;
}

nav li {
    font-size: 2rem;
    margin: 0 .5%;
}

nav ul li a:hover {
    animation-name: navItem;
    animation-duration: .2s;
    background: #5E4C5A;
    color: white;
}

/* Main */

#main {
    margin: auto;
    width: 95%;
}

/* Top section */

.top {
    padding: 5vh 0;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top img {
    width: 100%;
}

.top div.content {
    padding: 5%;
}

.top button {
    padding: 2%;
    margin: 1vh 0;
}

.top div {
    width: 50%;
    padding: 0 2.5%;
    min-width: 350px;
    flex-grow: 1;
}

/* Project Section */

.projects {
    padding: 0 0 5vh 0;
    display: flex;
    justify-items: space-evenly;
    flex-wrap: wrap;
}

.project {
    background: #e6e1e4;
    width: 20%;
    margin: 2.5%;
    text-align: center;
    min-width: 200px;
    flex-grow: 1;
    border-radius: 5px;
}

.project img {
    width: 100%;
}

.project h2 {
    margin: 1.5vh 0;
}
/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    text-align: center;
    background: #5E4C5A;
    color: #e6e1e4;
}

footer h2 {
    color: #e6e1e4;
}

footer button {
    width: 20%;
    height: 8vh;
}

#linkedin {
    display: block;
    margin: 2vh 0;
    color: #e6e1e4;
    font-size: 2rem;
}

#linkedin:hover {
    color: #6BAB90;
}

/* Media Queries */

@media (max-width: 1100px) {
    footer button {
        width: 30%;
    }
}

@media (max-width: 800px) {
    h1 {
        text-align: center;
    }
    nav ul {
        justify-content: center;
    }
    nav li {
        max-width: 20%;
    }
    nav a {
        font-size: 3vw;
    }

    footer button {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .headerContent {
        margin: 0;
        width: 100%;
    }

    nav ul li {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        margin: 0;
        max-width: none;
    }

    nav ul li a {
        flex-grow: 1;
        font-size: 2rem;
    }

    .top button {
        width: 100%;
    }

    footer button {
        width: 80%;
    }
}

@media (max-width: 484px) {
    .projects {
        width: 90%;
        margin: 0 auto;
    }

    .project {
        margin: 3vh 0;
    }
}