/* Eric Meyer's Reset */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;
/* My styling */
box-sizing: border-box;
list-style-type: none;
text-decoration: none;
color: #e2e2e;
}

/* Colors and fonts:
light-orange #FFB387
tea-green #E1F0C4
light green #6BAB90
wintergreen #55917F
wegne #5E4C5A
dark grey #2e2e2e
*/


/* Animations */
@keyframes navItem {
    from {background-color: white;}
    from {color: #2e2e2e}
    to {background-color: #6BAB90;}
    to {color: white;}
  }
/* General Styling */

h1 {
    font-size: 3rem;
    margin: 2% 0;
}

h2 {
    font-size: 1.6rem;
    margin: 1.5% 0;
}

p {
    margin: 1.5% 0;
    font-size: 1.2rem;
}

li {
    font-size: 1.5rem;
}

li a {
    border-radius: 2px;
}

button {
    background: white;
    border: 1px solid #2e2e2e;
    font-size: 1.2rem;
    border-radius: 2px;
}

button:hover {
    background: #FFB387;
    color: black;
    border: 1px solid white;
}

img {
    border-radius: 5px;
}

/* Header */

header {
    background-color: #55917F;
    padding: 1%;
    color: white;
}

.headerContent {
    width: 50%;
    margin: 2% 5%;
}

nav ul {
    display: flex;
    justify-content: flex-start;
}

nav ul li a {
    display: block;
    padding: 10px;
    background: white;
    margin: 0 2%;
    color: #2e2e2e;
}

nav ul li a:hover {
    animation-name: navItem;
    animation-duration: .5s;
    background: #6BAB90;
    color: white;
}
/* Main */

#main {
    margin: auto;
    width: 95%;
}

/* Top section */

.top {
    padding: 5vh 0;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.top img {
    width: 100%;
}

.top div.content {
    padding: 5%;
}

.top button {
    padding: 2%;
    margin: 1vh 0;
}

.top div {
    width: 50%;
    padding: 0 2.5%;
    min-width: 350px;
    flex-grow: 1;
}

/* Project Section */

.projects {
    padding: 0 0 5vh 0;
    display: flex;
    justify-items: space-evenly;
    flex-wrap: wrap;
}

.project {
    width: 20%;
    margin: 2.5%;
    text-align: center;
    min-width: 200px;
    flex-grow: 1;
}

.project img{
    width: 100%;
}

/* Footer */

footer {
    padding: 10vh 0;
    text-align: center;
    background: #5E4C5A;
    color: white;
}

footer button {
    width: 25%;
    height: 8vh;
}